html * {
    font-family: Roboto;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex: auto;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.hero-container > * {
    padding: 50px;
}

.hero-left {
    flex: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-right {
    flex: 1;
    flex-basis: 20%;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background-color: #3882F6;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    border-radius: 3px;
    border: none;
    padding: 5px 20px 5px 20px;
    align-self: flex-start;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
}

.info-image {
    border: 3px solid #3882F6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    padding: 50px;
    padding-top: 0px;
}

.image-row {
    list-style: none;
    display: flex;
    justify-content: center;
}

.image-row > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}